Repository wp-cli/export-command, pull requests merged in 2021-07, with the labels that each got.

#77 Add the_title_export filter and cdata for item title to export
  src/WP_Export_WXR_Formatter.php
Labels: command:export

#86 Fix category, tag and term names missing in export
  features/export.feature
  src/WP_Export_Oxymel.php
Labels: bug, command:export

#87 Adapt tests
  features/export.feature
Labels: bug, command:export, state:unconfirmed

#88 Only add needed user when filtering by `--author`
  features/export.feature
  src/WP_Export_Query.php
Labels: bug, command:export

#89 Ensure post attachment meta is exported correctly
  composer.json
  features/export.feature
  src/WP_Export_Query.php
Labels: bug, command:export
